<!--The content below is only a placeholder and can be replaced.-->
<div class="header"></div>
<div class="sidebar">
   <nav class="icons">
        <a [routerLink]="['/home']"><i class="fa fa-home"></i></a>
        <a [routerLink]="['/about']"><i class="fa fa-user-secret"></i></a>
        <a [routerLink]="['/skills']"><i class="fa fa-code"></i></a>
        <a [routerLink]="['/mywork']"><i class="fa fa-picture-o"></i></a>
        <a [routerLink]="['/contact']"><i class="fa fa-envelope-o"></i></a>
    </nav>
</div>

<div class="person">
  <div class="head"></div>
  <div class="logo"></div>



  <div class="person-content">
    <div class="title">Olexander Shevchuk</div>
    <div class="subtitle">Web Designer</div>
    <div class="social">
      <a target="_blank" href="https://dribbble.com/"><span class="fab fa-dribbble"></span></a>
      <a target="_blank" href="https://twitter.com/"><span class="fab fa-twitter"></span></a>
      <a target="_blank" href="https://github.com/"><span class="fab fa-github"></span></a>
      <a target="_blank" href="https://www.spotify.com/"><span class="fab fa-spotify"></span></a>
      <a target="_blank" href="https://stackoverflow.com/"><span class="fab fa-stack-overflow"></span></a>
    </div>
  </div>  
    <div class="links">
      <a href="#">Download CV</a>
      <a href="#">Contact me</a>
    </div>
  
</div>

<div class="con">
  <div class="content">
    <div class="title">Resume</div>
  </div>
</div>

<router-outlet></router-outlet>
