.header{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 40px;
  background-color: #262626;
  color: white;
}

.sidebar{
  position: fixed;
  left: 0;
  top: calc(50% - 200px);
  // border: 1px solid;
  min-width: 60px;
  
  background-color: #262626;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
}

.person{
  position: absolute;
  left: 100px;
  top: 150px;
  width: calc(45vw - 100px);
  height: calc(100vh - 250px);
  background-color: white;
  border-radius: 4px;

  .logo{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
    border: solid 3px white;
    left: calc(50% - 75px);
    top: 200px;
    z-index: 111;
  }

  .head{
    background-image: 'https://beshley.com/vcard/images/bg.jpg';
    background-color: grey;
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 70px;
      transform: rotate(14deg);
      z-index: 1;
      background-color: white;
      position: absolute;
      left: -15px;
      bottom: -55px;
    }
    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 60px;
      transform: rotate(-6deg);
      z-index: 1;
      background-color: white;
      position: absolute;
      right: -15px;
      bottom: -47px;
    }
  }
}

  .icons{
    display: block;
    text-align: center;
    width: 100%;

    a{
      text-decoration: none;
      position: relative;
      display: block;
      line-height: 45px;
      height: 45px;
      font-size: 24px;
      color: #4d4d4e;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    a::after{
      content: '';
      font-size: 10px;
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
    }

    a:first-child::after{
      content: 'HOME';
    }
    a:first-child + a::after{
      content: 'ABOUT';
    }
    a:first-child + a + a::after{
      content: 'SKILLS';
    }
    a:first-child + a + a + a::after{
      content: 'MY WORK';
    }
    a:first-child + a + a + a + a::after{
      content: 'CONTACT';
    }

    a:hover{
      color: #08fdd8;
      //opacity: 0;
      i{
        opacity: 0;
      }
      &::after{
        opacity: 1;
      }
    }
  }

  ul{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    a{
      padding: 7px 0;
      display: block;
      font-size: 15px;
      line-height: 16px;
      color: #4d4d4e;
    }
    a:hover {
      color: #08fdd8;
    }
  }